body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hex {
  position: relative;
  height: 4.7em;
  width: 5.5em;
}

.hexgrid tr:nth-child(even) .hex {
  left: 2.8em;
}

.hexgrid tr:nth-child(even) .hex-content {
}

.hexgrid tr:nth-child(odd) .hex-content {
}


.hex div {
}
.hex-background {
  position: absolute;
  top: 0; left: 0;
  color: #6C6; font-size: 10em;
  width: 100%;
  height: 100%;
  line-height: 0.4;
  display: flex;
  justify-content: center;
}
.hex-content {
  top: 0.75em;
  border-radius: 50%;
  left: 0.2em;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 100%;
}

